altgraph==0.16.1
arelle==2.2
beautifulsoup4==4.7.1
certifi==2019.3.9
chardet==3.0.4
colorama==0.3.9
cursor==1.2.0
dart-fss==0.1.2
et-xmlfile==1.0.1
fake-useragent==0.1.11
future==0.17.1
halo==0.0.23
idna==2.8
isodate==0.6.0
jdcal==1.4
log-symbols==0.0.12
lxml==4.3.3
macholib==1.11
numpy==1.16.2
openpyxl==2.6.2
pandas==0.24.2
pefile==2019.4.18
prompt-toolkit==1.0.14
Pygments==2.3.1
PyInquirer==1.0.3
PyInstaller==3.4
python-dateutil==2.8.0
pytz==2019.1
regex==2019.4.14
requests==2.21.0
six==1.11.0
soupsieve==1.9.1
spinners==0.0.23
termcolor==1.1.0
tqdm==4.31.1
urllib3==1.24.2
wcwidth==0.1.7
